@font-face {
  font-family: "Font-Awesome";
  src: url(./fonts/icon-fonts/fa-brands-400.ttf);
}

@font-face {
  font-family: "Font-Awesome";
  src: url(./fonts/icon-fonts/fa-brands-400.woff2);
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(./fonts/Montserrat-Bold.woff) format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Montserrat-Black";
  src: url(./fonts/Montserrat-Black.woff) format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Nunito-Bold";
  src: url(./fonts/Nunito-Bold.woff) format("woff");
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: "Nunito-Regular";
  src: url(./fonts/Nunito-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-LightItalic";
  src: url(./fonts/Nunito-LightItalic.woff) format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url(./fonts/Nunito-SemiBold.woff) format("woff");
  font-weight: bold;
  font-style: bold;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.preloader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: black;
}

.preloader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -100px 0 0 -100px;
  /* border-top: 3px solid #3498db; */
  border-top: 2px solid #f9002f;

  border-radius: 50%;

  -webkit-animation: spin 3.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.preloader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  /* border-top: 3px solid #e74c3c; */
  border-top: 2px solid #2a9a9f;

  border-radius: 50%;

  -webkit-animation: spin 2.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

.preloader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  bottom: 15px;
  right: 15px;
  /* border-top: 3px solid #f9c922; */
  border-top: 2px solid #f1b211;

  border-radius: 50%;

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

.hiden {
  transition: 1s;
  opacity: 0;
}

.scale {
  scale: 5;
  border-top: 1px solid #f9002f;
  transition: 1s;
}

.section-heder {
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}

header {
  /* min-width: 260px; */
  /* min-height: 100vh; */
  background-color: #415167;
  /* display: flex; */
  /* justify-content: flex-start; */
  align-items: center;
  /* padding-left: 40px; */
  /* position: fixed; */
  /* opacity: 0.4; */
  position: fixed;
  z-index: 11;
  min-width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 0;
}

.header-title {
  font-family: "Nunito-Bold";
  font-size: 30px;
  color: #258179;
  max-width: 190px;
  margin: 0;
  padding: 0 11px 0 11px;
  border-right: 3px solid #edf0f5;
}

.header__menu {
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  flex-grow: 0.7;
}

.header__menu-list {
  font-family: "Nunito-Regular";
  font-size: 20px;
  color: #edf0f5;
  list-style: none;
  padding: 15px 15px;
  cursor: pointer;
  transition-duration: 0.7s;
  width: 170px;
  text-align: center;

  /* min-width: 70px; */
}

.header__menu-list:hover {
  color: #258179;
  transition-duration: 0.7s;
}

.decoration-image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  /* margin-right: 300px; */
}

.decoration-image-u {
  max-width: 100%;
  max-height: 90%;
  z-index: 1;
}

.decoration-title {
  font-family: "Montserrat-Black";
  font-size: 54px;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.decoration-title__text {
  display: flex;
  flex-direction: column;
  width: 1px;
  padding-right: 158px;
}

.decoration-title__text-blue {
  z-index: 10;
  color: #415167;
}

.decoration-title__text-brown {
  color: #258179;
  z-index: 10;
}

.decoration-text {
  color: #edf0f5;
}

/* main {
  margin-right: 300px;
} */

h3 {
  font-family: "Nunito-Regular";
  font-size: 20px;
  color: #415167;
  margin: 100px 0 0 0;
  text-align: center;
}

h1 {
  font-family: "Montserrat-Black";
  font-size: 30px;
  color: #415167;
  margin: 5px 0;
  text-align: center;
}

.info-content {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
}

.info-content__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-content__img {
  max-width: 70px;
}

.info-content__title {
  font-family: "Nunito-Bold";
  font-size: 24px;
  padding: 40px 10px 10px 10px;
  margin: 0;
  color: #415167;
}

.info-content__title-text {
  font-family: "Nunito-Regular";
  font-size: 16px;
  text-align: center;
  max-width: 220px;
  padding: 0 10px;
  margin: 0;
  color: #415167;
}

/* .swiper {
  z-index: -1;
  position: fixed;
  max-width: 87%;
  min-height: 100vh;
  /* background-repeat: repeat-y; */
/* } */

.bgr-img {
  background-image: url("./src/image/coffee-beans-on-dark-background-top-view-coffee-concept.jpg");
  background-position: 0 0;
  background-size: cover;
  background-attachment: fixed;
  min-width: 90%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.block {
  max-width: 70%;
  background-color: rgba(255, 255, 255, 0.744);
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-top: 50px;
}

footer {
  box-sizing: border-box;
}

.icons {
  margin-top: 100px;
  /* margin-bottom: 40px; */
}
::selection {
  background: #a1a1a1;
}
a:hover {
  cursor: pointer;
}

.icons i {
  font-family: "Font-Awesome";
  margin-left: 30px;
  font-size: 1.6em;
  transition: 0.3s;
  padding: 18px;
  color: #003f5c;

  border-radius: 50%;
  background: #cccccc;
  box-shadow: 5px 5px 13px #8f8f8f, -5px -5px 13px #ebebeb;
}

.icons i:hover {
  color: #000203;
  font-size: 1.6em;
  border-radius: 50%;
  box-shadow: -5px -5px 13px #8f8f8f, 5px 5px 13px #ebebeb;
}

.icons .fa-vk:hover {
  background: radial-gradient(circle at 30% 107%, #5181b8 30%, #2a5885 65%, #edeef0 30%, #f7f8fa 40%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icons .fa-instagram:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icons .fa-whatsapp:hover {
  background: radial-gradient(circle at 30% 107%, #128c7e 10%, #075e54 15%, #189e4a 45%, #19a86c 60%, #28eb80 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icons .fa-telegram-plane:hover {
  background: radial-gradient(circle at 30% 107%, #3f89de 30%, #2a5885 65%, #b2c8f5 30%, #4980ec 40%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu {
  text-align: center;
  font-family: "Nunito-Bold";
  font-size: 40px;
  color: #003f5c;
}

.box-title {
  font-family: "Nunito-Bold";

  color: #003f5c;
  font-weight: normal;
  margin: 0 0 0 -1.25em;
  padding: 0 0.5em 0.15em 1.2em;
  border-bottom: 2px solid rgb(41, 135, 193);
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, transparent, rgb(41, 135, 193) 10%, rgb(41, 135, 193) 90%, #ff000000);
  width: calc(100% + 0.75em);
}

/* h2:before {
  font-family: "Nunito-Bold";

  content: "\2605";
  margin: 0 0.25em 0 -1.1em;
} */

ul.boxes {
  font-family: "Nunito-Regular";
  margin: 0;
  padding: 0;
  list-style: none;
}

li.box {
  width: 40%;
  margin: 2% 4% 2% 5%;
  display: inline-table;
  box-sizing: border-box;
  padding-left: 1em;
  color: #fff;
  font-size: 1.5em;
  border-left: 2px solid rgb(41, 135, 193);
  border-image-slice: 1;
  border-right: 2px solid rgb(41, 135, 193);
  border-image-source: linear-gradient(180deg, transparent, rgb(41, 135, 193) 20%, rgb(41, 135, 193) 60%, #ffffff00 90%);
  padding-right: 1em;
  padding-bottom: 4em;
}

li.box:after {
  content: "";
  float: left;
  width: calc(100% + 4em);
  border-bottom: 2px solid rgb(41, 135, 193);
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, transparent, rgb(41, 135, 193) 15%, rgb(41, 135, 193) 85%, #ffffff00);
  margin-left: -2em;
  height: 0.75em;
}

li.box:nth-child(1) {
  transform: rotate(-1deg);
  top: 1.5em;
  position: relative;
}

li.box:nth-child(2) {
  transform: rotate(2deg);
}

li.box:nth-child(3) {
  transform: rotate(3deg);
  top: -5em;
  position: relative;
}

li.box:nth-child(4) {
  transform: rotate(-2deg);
  position: relative;
  top: -1.5em;
}

dt {
  font-weight: bold;
  color: #258179;
  float: left;
  width: 100%;
  font-size: 1.25em;
  line-height: 1.25em;
}

dd.description {
  margin: 0 0 1em 0.25em;
  float: left;
  width: 100%;
  color: #003f5c;
  line-height: 1em;
  padding-left: 0.5em;
}

dd.description p {
  margin: 0;
}

dd.description:before {
  color: #ff0000b6;
  float: left;
  margin-right: 0.25em;
  margin-left: -1.05em;
  content: "\2570";
}

p.prices {
  float: left;
  width: 100%;
  font-size: 0.9em;
}

p.prices span {
  display: block;
  text-align: right;
  color: #003f5c;
  float: left;
  padding-left: 0.25em;
}

p.prices span + span {
  float: right;
}

p.prices span em {
  padding: 0 0.35em;
  color: #ff0000c1;
  font-weight: bold;

  margin-left: 0.25em;
}

span.note {
  font-size: 0.85em;
  padding-top: 0.25em;
}

span.note em {
  margin-right: 0.25em;
}

p.tip {
  color: #607d8b;
  font-weight: bold;
  line-height: 1em;
  padding-left: 1em;
  margin-bottom: 0;
}
*/ p.tip:before {
  content: "\22C6";
  color: #607d8b;
  float: left;
  margin-right: 0.25em;
  margin-left: -0.75em;
}

@media only screen and (max-width: 980px) {
  li.box {
    width: 92%;
  }

  li.box:nth-child(3) {
    transform: rotate(-3deg);
    top: 0;
  }

  li.box:nth-child(4) {
    transform: rotate(2deg);
    top: 0;
  }
}
